* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

::selection{
    color:#ffffff;
    background-color: #008080;
}